@tailwind base;


:root {
    --color-text-white: white;
    --color-bg-white: #fff;
    --color-text-black: #2d3748;
}

/*! purgecss start ignore */
.theme-dark {
    --color-bg-white: #2d3748;
    --color-text-black: white;

}

.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}

input:checked~.toggle__dot {
    transform: translateX(100%);
    background-color: #48bb78;
}

@tailwind components;

@tailwind utilities;